<div 
  x-show="appCustomer.modalIsOpen"
  x-cloak
  class="fixed inset-0 z-50 overflow-y-auto"
  aria-labelledby="login-modal-title"
  role="dialog"
  aria-modal="true"
>
  <div class="flex items-center justify-center min-h-screen px-4 text-center">
    <div 
      x-show="appCustomer.modalIsOpen"
      x-transition:enter="transition ease-out duration-300 transform"
      x-transition:enter-start="opacity-0"
      x-transition:enter-end="opacity-100"
      x-transition:leave="transition ease-in duration-200 transform"
      x-transition:leave-start="opacity-100"
      x-transition:leave-end="opacity-0"
      @click="appCustomer.modalClose()"
      class="fixed inset-0 transition-opacity lux-modal-backdrop"
      aria-hidden="true"
    ></div>

    <div 
      x-show="appCustomer.modalIsOpen"
      x-transition:enter="transition ease-out duration-300 transform"
      x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
      x-transition:leave="transition ease-in duration-200 transform"
      x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
      x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      class="inline-block w-full max-w-lg p-6 my-8 overflow-hidden text-left align-middle transition-all transform glass rounded-lux-lg text-t-primary"
    >
      <div class="flex items-start justify-between gap-4 mb-4">
        <h3 class="text-xl font-bold truncate">
          Log in to Your Customer Account
        </h3>

        <button @click="appCustomer.modalClose()" class="text-t-primary focus:outline-none">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-7 text-t-primary/50 hover:text-lux-blue-light transition-colors duration-200">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>

      <div x-show="appCustomer.modalStep === 1">
        <form @submit.prevent="appCustomer.modalRequestOtp()">
          <div>
            <label class="block text-t-primary/80">
              E-mail Address
            </label>
            <small class="block -mt-px text-t-primary/50">
              We'll send you a one-time password to this email address.
            </small>
          </div>
          <div class="mt-2">
            <input 
              type="email"
              x-model="appCustomer.modalEmail"
              x-ref="appCustomer.modalEmailInput"
              placeholder="name@domain.com"
              class="lux-input mt-2"
            />
          </div>

          {% if altcha_shop_customer %}
            <div
              x-cloak
              x-show="!appCustomer.altchaPayload"
              class="transition-opacity mt-2"
              x-transition:enter="transition ease-out duration-300 transform"
              x-transition:enter-start="opacity-0"
              x-transition:enter-end="opacity-100"
              x-transition:leave="transition ease-in duration-200 transform"
              x-transition:leave-start="opacity-100"
              x-transition:leave-end="opacity-0"
            >
              <altcha-widget
                challengejson='{{ altcha_shop_customer | json }}'
                auto="onload"
                hidefooter="true"
                hidelogo="true"
                x-ref="appCustomer.altcha"
              ></altcha-widget>
            </div>
          {% endif %}

          <p x-show="appCustomer.modalEmailError" class="text-lux-error text-sm mt-2" x-text="appCustomer.modalEmailError"></p>
          <button
            type="submit"
            class="btn-primary w-full mt-4 text-base"
            :disabled="appCustomer.modalLoading"
          >
            <span>Continue</span>
            <template x-if="!appCustomer.modalLoading">
              <i class="fa fa-arrow-right"></i>
            </template>
            <template x-if="appCustomer.modalLoading">
              <i class="fa fa-circle-notch animate-spin"></i>
            </template>
          </button>
        </form>
      </div>

      <div x-show="appCustomer.modalStep === 2">
        <form @submit.prevent="appCustomer.modalLogin()">
          <div>
            <label class="block text-t-primary/80">
              One Time Password
            </label>
            <small class="block -mt-px text-t-primary/50">
              A 6-digit code has been sent to <span x-text="appCustomer.modalEmail"></span>.
            </small>
          </div>
          <div class="flex gap-2 mt-2">
            {% for index in range(6) %}
              <input 
                type="text"
                maxlength="1"
                x-model="appCustomer.modalOtpDigits[{{ index }}]"
                x-ref="appCustomer.modalOtpInputs[{{ index }}]"
                @input="appCustomer.modalOtpHandleInput({{ index }})"
                @keydown="appCustomer.modalOtpHandleKeyDown({{ index }}, $event)"
                class="w-9 h-[2.625rem] text-center text-lg text-t-primary bg-white/[0.03] border border-white/[0.06] focus:border-lux-blue/40 focus:ring-2 focus:ring-lux-blue/20 focus:outline-none rounded-lux-sm"
              />
            {% endfor %}
          </div>
          <p x-show="appCustomer.modalOtpError" class="text-lux-error text-sm mt-2" x-text="appCustomer.modalOtpError"></p>
          <button
            type="submit"
            class="btn-primary w-full mt-4 text-base"
            :disabled="appCustomer.modalLoading"
          >
            <span>Log In</span>
            <template x-if="!appCustomer.modalLoading">
              <i class="fa fa-arrow-right"></i>
            </template>
            <template x-if="appCustomer.modalLoading">
              <i class="fa fa-circle-notch animate-spin"></i>
            </template>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>