<section id="{{ componentId }}" class="component" data-component-id="{{ componentId }}">
  <div class="py-6 lg:py-8">
    <div class="flex items-center justify-center mb-4 md:mb-6 lg:mb-8">
      <div class="inline-block">
        <h1 class="text-t-primary text-2xl text-center font-bold md:text-3xl lg:text-4xl tracking-tight lux-heading">
          {{ blogPost.title }}
        </h1>
      </div>
    </div>

    <div class="max-w-3xl mx-auto">
      <div class="glass rounded-lux-lg text-t-primary/80 text-sm p-4 md:text-base md:p-6">
        {% if blogPost.summary %}
          <p class="text-sm text-t-primary/50 mb-4 md:mb-6">
            {{ blogPost.summary }}
          </p>
        {% endif %}

        {% if blogPost.image_url %}
          <img src="{{ blogPost.image_url }}" class="rounded-lg w-full mb-4 md:mb-6" loading="lazy" />
        {% endif %}

        <div class="editor">
          {{ blogPost.content | safe }}
        </div>

        <div class="flex items-center justify-end mt-4 md:mt-6">
          <p class="text-sm text-t-primary/40">
            Published at
            <span class="font-medium">
              {{ blogPost.created_at | formatDate }}
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>