{% set data = [] %}
{% if feedbacks %}
  {% set data = feedbacks %}
{% elif latest_feedbacks %}
  {% set data = latest_feedbacks %}
{% endif %}

<section id="{{ componentId }}" class="component" data-component-id="{{ componentId }}">
  <div class="py-6 lg:py-8">
    {% if properties.title %}
      <div class="flex items-center justify-center mb-6 md:mb-8 lg:mb-10">
        <div class="inline-block">
          <h2 class="text-t-primary text-2xl text-center font-bold md:text-3xl lg:text-4xl tracking-tight lux-heading">
            {{ properties.title | renderString }}
          </h2>
        </div>
      </div>
    {% endif %}

    {% if templateName == 'feedback' and feedbacks|length > 0 %}
      <div class="flex my-4 md:my-6 md:justify-end">
        <div class="flex flex-col gap-2 md:flex-row md:items-center md:gap-4 md:min-w-lg">
          <div class="text-sm text-t-primary/80">
            Sort Reviews By
          </div>
          <div class="min-w-72">
            <select class="order-select">
              <option value="created_at_desc">
                Newest First
              </option>
              <option value="created_at_asc">
                Oldest First
              </option>
              <option value="rating_desc">
                Highest Rated First
              </option>
              <option value="rating_asc">
                Lowest Rated First
              </option>
              <option value="is_automatic_asc">
                Non-Automatic First
              </option>
            </select>
          </div>
        </div>
      </div>
    {% endif %}

    {% if data|length > 0 %}
      <div class="w-full grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4">
        {% for feedback in data.slice(0, (properties.amount if properties.amount else data|length)) %}
          {% render_snippet "feedback-card.njk", feedback=feedback %}
        {% endfor %}
      </div>
      {% if feedbacks_paginator %}
        {% if feedbacks_paginator.last_page > 1 %}
          {% render_snippet "pagination.njk", paginator=feedbacks_paginator %}
        {% endif %}
      {% elif data|length >= properties.amount %}
        <div class="flex justify-center mt-8">
          <a href="{{ '/feedback' | shopUrl }}" class="btn-outline">
            View All Reviews
            <svg class="size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="currentColor" d="m18 6l-1.43 1.393L24.15 15H4v2h20.15l-7.58 7.573L18 26l10-10z"/></svg>
          </a>
        </div>
      {% endif %}
    {% else %}
      <div class="text-center py-12">
        <i class="fa fa-comment-dots text-5xl text-t-primary/20 mb-4"></i>
        <p class="text-t-primary/50 text-base">
          {% if templateName == 'product' %}
            No reviews about this product yet.
          {% else %}
            No reviews yet.
          {% endif %}
        </p>
      </div>
    {% endif %}
  </div>
</section>

{% if templateName == 'feedback' %}
  <script>
    document.addEventListener('alpine:init', () => {
      document.querySelectorAll('.order-select').forEach((element) => {
        const choices = new Choices(element, { shouldSort: false });
        
        choices.passedElement.element.addEventListener('change', (event) => {
          const orderParts = event.detail.value.split('_');
          const orderDirection = orderParts.pop();
          const orderColumn = orderParts.join('_');

          const url = new URL(window.location.href);
          url.searchParams.set('orderColumn', orderColumn);
          url.searchParams.set('orderDirection', orderDirection);
          window.location.href = url.toString();
        });

        choices.setChoiceByValue('{{ orderColumn }}_{{ orderDirection }}');

        // Workaround to fix default value highlight issue
        const selectedChoiceElement = choices.choiceList.element.querySelector('.is-selected');
        if (selectedChoiceElement) {
          choices._highlightChoice(selectedChoiceElement);
        }
      });
    });
  </script>
{% endif %}
