<section id="{{ componentId }}" class="component" data-component-id="{{ componentId }}">
  <div class="py-6 lg:py-8">
    <div class="flex items-center justify-center mb-4 md:mb-6 lg:mb-8">
      <div class="inline-block">
        <h1 class="text-t-primary text-2xl text-center font-bold md:text-3xl lg:text-4xl tracking-tight lux-heading">
          Status
        </h1>
      </div>
    </div>

    <div class="max-w-3xl mx-auto">
      <div class="flex flex-col gap-4">
        {% for item in statuses %}
          {% if item.type == 'group' %}
            <div class="mb-4">
              <h2 class="text-lg font-bold text-t-primary mb-2 md:text-xl">{{ item.name }}</h2>
              <div class="flex flex-col gap-4">
                {% for product in item.products %}
                  {% render_snippet "status-card.njk", product=product %}
                {% endfor %}
              </div>
            </div>
          {% elif not item.group_id %}
            {% render_snippet "status-card.njk", product=item %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>